[submodule "glew"]
	path = glew
	url = https://github.com/nigels-com/glew.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw
[submodule "freetype2"]
	path = freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "codecs/vorbis"]
	path = codecs/vorbis
	url = https://git.xiph.org/mirrors/vorbis.git
[submodule "codecs/ogg"]
	path = codecs/ogg
	url = https://git.xiph.org/mirrors/ogg.git
