[submodule "externals/stb"]
	path = externals/stb
	url = https://github.com/nothings/stb
[submodule "externals/pugixml"]
	path = externals/pugixml
	url = https://github.com/zeux/pugixml/
[submodule "externals/imgui"]
	path = externals/imgui
	url = https://github.com/ocornut/imgui
[submodule "externals/bullet"]
	path = externals/bullet
	url = https://github.com/bulletphysics/bullet3
